# Environment, settings, configs etc.
.*

# Dependency directories
node_modules

# Logs
logs/
npm-debug.log*
yarn-error.log*

# Nuxt.js build / generate output
dist/
build/

# Tests
__tests__/
coverage/
jest.config.ts

# Docs
docs/
README.md

# Bash scripts
scripts/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace