# ===========================================================================
# 🔧 NODE - окружение
# ⚠️ Для Production НЕ прописывайте это в .env файле. Передавайте NODE_ENV=production через среду окружения контейнера.
# ===========================================================================

# Окружение выполнения (обязательно)
# Допустимые значения: development, production, staging
NODE_ENV=development

# Уровень детализации логов
# Допустимые значения: fatal, error, warn, info, debug, trace  (опционально, по умолчанию info)
LOG_LEVEL=info


# ===========================================================================
# 🔧 SERVICE — основные метаданные и настройки HTTP-сервера
# ===========================================================================

# Имя сервиса в инфраструктуре (опционально, по умолчанию берется name из package.json)
# Используется в логах, трейсах, метриках, docker
SERVICE_NAME=notification-service

# Порт HTTP-сервера (опционально, по умолчанию 3000)
SERVICE_PORT=3000

# Публичный базовый URL API (обязательно)
# Используется в OpenAPI-спецификации
SERVICE_URL=http://localhost:3000/api

# Заголовок API в Swagger UI (опционально, по умолчанию берется name из package.json)
SERVICE_TITLE=Notification Service API


# ===========================================================================
# 📡 BITRIX24 CHANNEL — настройки подключения к Bitrix24 REST API
# ===========================================================================

# Базовый URL портала Bitrix24 (обязательно)
BITRIX_CHANNEL_BASE_URL=https://bitrix24.ru

# ID пользователя от имени которого отправляются уведомления (обязательно)
BITRIX_CHANNEL_USER_ID=1

# OAuth-токен или вебхук-токен для аутентификации (обязательно)
BITRIX_CHANNEL_AUTH_TOKEN=qwertyqwertyqwer

# Технический таймаут при отправке запрса http (опционально, по умолчанию 10000)
BITRIX_TIMEOUT_MS=10000

# Максимально допустимое количество одновременно отправляемых уведомлений (опционально, по умолчанию 1)
BITRIX_CHANNEL_CONCURRENCY=1

# Время задержки между отправлением уведомлений (опционально, по умолчанию 500)
BITRIX_CHANNEL_DELAY_MS=500


# ===========================================================================
# 📧 EMAIL CHANNEL — настройки SMTP для отправки email
# ===========================================================================

# SMTP-хост (обязательно)
EMAIL_CHANNEL_HOST=mail.ru

# SMTP-порт (опционально, по умолчания 25)
EMAIL_CHANNEL_PORT=25

# Использовать TLS/SSL (опционально, по умолчанию false)
EMAIL_CHANNEL_SECURE=false

# Логин для аутентификации в SMTP (обязательно)
EMAIL_CHANNEL_LOGIN=user

# Пароль для аутентификации в SMTP (обязательно)
EMAIL_CHANNEL_PASSWORD=qwertyqw

# Адрес отправителя в формате: '"Имя" <no-reply@example.com>' (обязательно)
EMAIL_CHANNEL_FROM_EMAIL='"Example" <no-reply@example.com>'

# Тема сообщения (обязательно)
EMAIL_CHANNEL_SUBJECT=Subject

# Таймаут на установку SMTP-соединения (мс, опционально, по умолчанию 5000)
EMAIL_CHANNEL_GREETING_TIMEOUT_MS=5000

# Технический таймаут при отправке email (опционально, по умолчанию 10000)
EMAIL_CHANNEL_SOCKET_TIMEOUT_MS=10000

# Максимально допустимое количество одновременно отправляемых уведомлений (опционально, по умолчанию 1)
EMAIL_CHANNEL_CONCURRENCY=1

# Время задержки между отправлением уведомлений (опционально, по умолчанию 500)
EMAIL_CHANNEL_DELAY_MS=500


# ===========================================================================
# 🔐 AUTHENTICATION — настройки OAuth2/JWT (OIDC)
# ⚠️ В режиме development отключен
# ===========================================================================

# URL эндпоинта OpenID Connect Issuer (обязательно)
AUTHENTICATION_MIDDLEWARE_ISSUER=https://keycloak.ru/realms/internal

# URL JWKS-эндпоинта для проверки подписи токена (обязательно)
AUTHENTICATION_MIDDLEWARE_JWKS_URI=https://keycloak.ru/realms/internal/protocol/openid-connect/certs

# Ожидаемый audience в JWT (обязательно)
AUTHENTICATION_MIDDLEWARE_AUDIENCE=notification-service

# Алгоритм подписи токена (опционально, по умолчанию RS256)
AUTHENTICATION_MIDDLEWARE_TOKEN_SIGNING_ALG=RS256


# ===========================================================================
# 🔑 AUTHORIZATION — проверка ролей
# ⚠️ В режиме development отключен
# ===========================================================================

# Client ID сервиса в Keycloak (обязательно)
AUTHORIZATION_MIDDLEWARE_SERVICE_CLIENT_ID=notification-service

# Минимальные роли, необходимые для доступа к API (обязательно)
# Указывается через запятую при поддержке множества ролей (например: notifications:send,admin)
AUTHORIZATION_MIDDLEWARE_REQUIRED_ROLES=notifications:send


# ===========================================================================
# 📊 TELEMETRY — экспорт телеметрии в OpenTelemetry Collector
# ===========================================================================

# Эндпоинт для отправки трейсов (опционально)
TELEMETRY_TRACES_EXPORTER_URL=http://otel-collector:4318/v1/traces

# Эндпоинт для отправки логов (опционально)
TELEMETRY_LOGS_EXPORTER_URL=http://otel-collector:4318/v1/logs

# Эндпоинт для отправки метрик (опционально)
TELEMETRY_METRICS_EXPORTER_URL=http://otel-collector:4318/v1/metrics