URL=http://localhost:3000/api
PORT=3000

RATE_LIMIT_PERIOD=60000
RATE_LIMIT_TRIES=100

AUTH_ISSUER=https://keycloak.planarchel.ru/realms/internal
AUTH_JWKS_URI=https://keycloak.planarchel.ru/realms/internal/protocol/openid-connect/certs
AUTH_AUDIENCE=notification-service
AUTH_TOKEN_SIGNING_ALG=RS256
AUTH_SERVICE_CLIENT_ID=notification-service-client
AUTH_REQUIRED_ROLES=notifications:send

GRACEFUL_SHUTDOWN_TIMEOUT=30000

PROCESS_BATCHING_INTERVAL=60000

BITRIX_BASE_URL=https://bitrix24.ru
BITRIX_USER_ID=1
BITRIX_AUTH_KEY=qwerty

SMTP_HOST=mail.ru
SMTP_PORT=25
SMTP_LOGIN=user
SMTP_PASSWORD=password
SMTP_EMAIL=user-noreply@mail.ru

INFLUXDB_URL=http://localhost:8086/
INFLUXDB_TOKEN=qwerty
INFLUXDB_ORG=DEMO
INFLUXDB_BUCKET=demo

LOGS_DIR=logs
MEASUREMENT=logs
SERVICE_NAME=notification-service
SERVICE_VERSION=1.5.0