# ============================================================================
# 🌐 NGINX — конфигурация проксирования
# ============================================================================

# Время на установку TCP-соединения /receive/healthcheck/* (обязательно)
NGINX_NOTIFICATION_HEALTHCHECK_CONNECT_TIMEOUT_MS=2000

# Время ожидания ответа от сервиса после установки соединения /receive/healthcheck/* (обязательно)
NGINX_NOTIFICATION_HEALTHCHECK_READ_TIMEOUT_MS=2000

# Лимит запросов /receive/notifications/batch/ (обязательно)
NGINX_NOTIFICATION_NOTIFICATIONS_BATCH_RATE_LIMIT=2

# Время на установку TCP-соединения /receive/notifications/batch/ (обязательно)
NGINX_NOTIFICATION_NOTIFICATIONS_BATCH_CONNECT_TIMEOUT_MS=5000

# Время ожидания ответа от сервиса после установки соединения /receive/notifications/batch/ (обязательно)
NGINX_NOTIFICATION_NOTIFICATIONS_BATCH_READ_TIMEOUT_MS=30000

# Лимит запросов /receive/* (обязательно)
NGINX_NOTIFICATION_RATE_LIMIT=2

# Время на установку TCP-соединения /receive/* (обязательно)
NGINX_NOTIFICATION_CONNECT_TIMEOUT_MS=5000

# Время ожидания ответа от сервиса после установки соединения /receive/* (обязательно)
NGINX_NOTIFICATION_READ_TIMEOUT_MS=10000