# ============================================================================
# 🔐 KEYCLOAK — авторизация и доступ
# ============================================================================

# Имя realm (обязательно)
KEYCLOCK_REALM=notifications


# ============================================================================
# 🔑 KEYCLOAK CLIENTS — секреты клиентских приложений
# ============================================================================

# Секрет клиента receive-service (обязательно)
KEYCLOCK_NOTIFICATION_SERVICE_CLIENT_SECRET=qwerty